<!DOCTYPE html>

{% extends 'sorm/mainsorm.html' %}

{% block sormenvobject %}

<div class="row">
  <div class="columns">
    <h2>Таблица типов объектов среды</h2>
  </div>
</div>

<div class="row">

  <div class="columns">
    <div class="table-scroll">
      <table>
        <thead>
          <tr>
            <th>Наименование типа объекта среды</th>
              <th>Удалить</th>
          </tr>
        </thead>


            <tbody>
            {% for Envobject in Envobject_all %}
              <tr>
                  <td>{{ Envobject.name }}</td>
              <td><a href="/information/delete_envobject/{{ Envobject.id }}" class="button">Удалить</a></td>
              </tr>
            {% endfor %}
            </tbody>


            <tfoot>
            </tfoot>
      </table>
    </div>
  </div>
</div>



{% endblock %}

<script src="/static/js/vendor/jquery.js"></script>
<script src="/static/js/vendor/what-input.js"></script>
<script src="/static/js/vendor/foundation.js"></script>
<script src="/static/js/app.js"></script>
 <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/foundation.css">
  <link rel="stylesheet" href="/static/css/app.css">
<script>
    $(document).foundation();
  </script>


</body>
</html>