<!DOCTYPE html>

{% extends 'sorm/mainsorm.html' %}

{% block sormcontrol %}

<div class="row">
  <div class="columns">
    <h2>Таблица контрмер</h2>
  </div>
</div>

<div class="row">

  <div class="columns">
    <div class="table-scroll">
      <table>
        <thead>
          <tr>
            <th>Наименование контрмеры</th>
              <th>Тип реализации контрмеры</th>
              <th>Удалить</th>
          </tr>
        </thead>


            <tbody>
            {% for Control in Control_all %}
              <tr>
                <td>{{ Control.name }}</td>
                  <td>{{ Control.type_realization.name }}</td>
              <td><a href="/control/delete_control/{{ Control.id }}" class="button">Удалить</a></td>
              </tr>
            {% endfor %}
            </tbody>


            <tfoot>
            </tfoot>
      </table>
    </div>
  </div>
</div>



{% endblock %}

<script src="/static/js/vendor/jquery.js"></script>
<script src="/static/js/vendor/what-input.js"></script>
<script src="/static/js/vendor/foundation.js"></script>
<script src="/static/js/app.js"></script>
 <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/foundation.css">
  <link rel="stylesheet" href="/static/css/app.css">
<script>
    $(document).foundation();
  </script>


</body>
</html>